doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.min10.css')
=======
    link(rel='stylesheet', href='/stylesheets/style.css')
>>>>>>> parent of 8eeb5b7 (modif)
  body
    block content
